{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ДИАМАКС - Агентство недвижимости</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/core/preloader.css' %}">
    <link rel="shortcut icon" href="{% static 'img/core/logo.png' %}" />
  </head>
  <body>
<!-- ########################################## Прелоадер ########################################## -->
    <div class="preloader">
      <div class="item-1"><div></div></div>
      <div class="item-2"><div></div></div>
      <div class="item-3"><div></div></div>
      <div class="item-4"><div></div></div>
      <div class="item-5"><div></div></div>
      <div class="item-6"><div></div></div>
      <div class="item-7"><div></div></div>
      <div class="item-8"><div></div></div>
      <div class="item-9"><div></div></div>
    </div>
<!-- ########################################## Конец прелоадера ########################################## -->

<!-- ########################################## Первая секция ########################################## -->
  <div id="fullpage">
  <div class="block-1">
    <header>
      <div class="container">
        <div class="row">
          <div class="col col-md-1 col-lg-3 col-xl-3"></div>
            <div class="col col-md-10 col-lg-6 col-xl-6 text-center center-elements">
              <img src="{% static 'img/core/logo.png' %}" class="logo">
              <h1>ДИАМАКС</h1>
            </div>
            <div class="col col-md-1 col-lg-3 col-xl-3"></div>
          </div>
        </div>
      </header>
    </div>
<!-- ########################################## Конец первой секции ########################################## -->

<!-- ########################################## Вторая секция ########################################## -->
      <div class="block-2">
        <div class="container">
          <div class="row">
            <div class="col col-md-12 col-lg-12 col-xl-12 mt-5 mb-5 text-center heder-text-service">
              <h1>Услуги компании</h1>
              <h5>Для более подробной консультации обращаться по контактным данным</h5>
            </div>
            <div class="col col-md-6 col-lg-4 col-xl-4 mt-4 text-center">
              <div class="service">
                <hr style="background-color: black;">
                <h3>Продажа/Покупка</h3>
                <hr style="background-color: black;">
                <p>Посредническая помощь по продаже, покупке недвижимости</p>
              </div>
            </div>
            <div class="col col-md-6 col-lg-4 col-xl-4 mt-4 text-center">
              <div class="service">
                <hr style="background-color: black;">
                <h3>Консультация</h3>
                <hr style="background-color: black;">
                <p>Мы предоставляем консультационную помощь по операциям с недвижимостью (купле-продаже, сдаче в аренду и т.д.) при проведении операций с жильем</p>
              </div>
            </div>
            <div class="col col-md-6 col-lg-4 col-xl-4 mt-4 text-center">
              <div class="service">
                <hr style="background-color: black;">
                <h3>Суд</h3>
                <hr style="background-color: black;">
                <p>Подготовка документов и юридическое сопровождение в суде</p>
              </div>
            </div>
            <div class="col col-md-6 col-lg-4 col-xl-4 mt-4 text-center">
              <div class="service">
                <hr style="background-color: black;">
                <h3>Оформление документов</h3>
                <hr style="background-color: black;">
                <p>Оформление недвижимости: земельных участков, домовладений, квартир. Постановка на кадастровый учет, регистрация, БТИ, межевание, уведомление на строительство, реконструкцию и снос</p>
              </div>
            </div>
            <div class="col col-md-6 col-lg-4 col-xl-4 mt-4 text-center">
              <div class="service">
                <hr style="background-color: black;">
                <h3>Строим под ключ</h3>
                <hr style="background-color: black;">
                <p>Оказание услуг по строительству и монтажным работам при получении кредитования Россельхоз Банком</p>
              </div>
            </div>
            <div class="col col-md-6 col-lg-4 col-xl-4 mt-4 text-center">
              <div class="service">
                <hr style="background-color: black;">
                <h3>Договора</h3>
                <hr style="background-color: black;">
                <p>Составление договоров: дарения, мены, купли-продажи и т.д. Сопровождение сделок</p>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- ########################################## Конец второй секции ########################################## -->

<!-- ########################################## Третья секция ########################################## -->
      <div class="block-3">
        <div class="container">
          <div class="row">
            <div class="col col-md-7 col-lg-6 col-xl-6 contact-position">
              <div class="contact-text">
                <h1 class="text-center">Контакты</h1>
                <hr class="mt-4" style="background-color: white;">
                <div class="row">
                  <div class="col col-xl-5">
                    <h5 class="mt-4">Ольга Александровна</h5>
                  </div>
                  <div class="col col-md-1 col-lg-2 col-xl-2"></div>
                  <div class="col col-xl-5">
                    <h5 class="mt-4">8 963 385 38 41</h5>
                  </div>
                </div>
                <hr class="mt-4" style="background-color: white;">
                <div class="row">
                  <div class="col col-xl-5">
                    <h5 class="mt-4">Электронная почта</h5>
                  </div>
                  <div class="col col-md-1 col-lg-2 col-xl-2"></div>
                  <div class="col col-xl-5">
                    <h5 class="mt-4">info@diamaks.tk</h5>
                  </div>
                </div>
                <hr class="mt-4" style="background-color: white;">
                <div class="row">
                  <div class="col col-xl-5">
                    <h5 class="mt-4">Адрес</h5>
                  </div>
                  <div class="col col-md-1 col-lg-2 col-xl-2"></div>
                  <div class="col col-xl-5">
                    <h5 class="mt-4">ст.Ессентукская<br>ул.Гагарина д.91 </h5>
                  </div>
                </div>
                <hr class="mt-4" style="background-color: white;">
                <div class="row">
                  <div class="col col-xl-5">
                    <h5 class="mt-4">Время работы</h5>
                  </div>
                  <div class="col col-md-1 col-lg-2 col-xl-2"></div>
                  <div class="col col-xl-5">
                    <h5 class="mt-4">9:00 - 17:00</h5>
                  </div>
                </div>
                <hr class="mt-4" style="background-color: white;">
              </div>
            </div>
            <div class="col col-md-5 col-lg-6 col-xl-6 text-center contact-position">
              <h1 style="color:white; margin-top: 220px;">Мы находимя здесь</h1>
              <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A8d38c71ff0f4e03df132d050d0fab1a6a509b06e5ace30fdfb66d4a689c701f4&amp;source=constructor" width="540" height="540" frameborder="0"></iframe>
            </div>
            <div class="col col-md-12 col-lg-12 col-xl-12 text-center">
              <p style="color:white; margin-top: 50px;">©ДИАМАКС, Агентство недвижимости, 2020</p>
            </div>
          </div>
        </div>
      </div>
<!-- ########################################## Конец третьей секции ########################################## -->
  </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/core/core.css' %}">
    <script type="text/javascript" src='{% static "js/core/preloader.js" %}'></script>
    <script type="text/javascript" src='{% static "js/core/jquery.fullPage.min.js" %}'></script>
  </body>
</html>
